@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Conthrax';
  src: url('/fonts/Conthrax-SemiBold.otf') format('opentype');
  font-style: normal;
}

@layer base {
  body {
    @apply bg-[#071624] font-raleway;
  }

  .hero-ring {
    @apply absolute inset-0 -translate-x-1/2 translate-y-1/2 rounded-full border border-[rgba(72,72,72,0.36)];
  }
}
